{% load static tailwind_tags %}
<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body>

    
    <form action="/products/add/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="flex justify-center h-screen">
        <div
class="border border-gray-900/1000 pb-12 w-[400px] self-center p-10 rounded-lg justify-self-center">
          <h2 class="text-base font-semibold leading-7 text-gray-900">
            Product Information
          </h2>
          <p class="mt-1 text-sm leading-6 text-gray-600">
            Use a valid product information
          </p>

          <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-6">
              <label
                for="first-name"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Name</label
              >
              <div class="mt-2">
                <input
                  type="text"
                  name="name"
                  required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>

            <div class="sm:col-span-6">
              <label
                for="email"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Description</label
              >
              <div class="mt-2">
                <input
                                  
                  id="description"
                  name="description"
                  type="text"
                  autocomplete="description"
                  required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>


            <div class="sm:col-span-6">
              <label
                for="price"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Price</label
              >
              <div class="mt-2">
                <input
                  id="price"
                  name="price"
                  type="number"
                  autocomplete="price"
                  required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
            <div class="sm:col-span-6">
              <label
                for="price"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Price</label
              >
              <div class="mt-2">
                <input
                  id="image"
                  name="image"
                  type="file"
                  required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
         

            <div class="sm:col-span-6">
              <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Country</label>
              <div class="mt-2">
                <select id="category" name="category" autocomplete="category-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                {%for i in categories%}
                <option value="{{ i.id }}">{{ i.name }}</option>

                  {%endfor%}

                
                </select>
              </div>
            </div>
            

            

         

       
            </div>

            <button type="submit" class=" mt-5 flex w-full items-center self-center justify-center rounded-md border border-red-800 bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              Add Products
            </button>

          </div>

          
        </div>
      </div>
     
    </form>
  </body>
</html>
